@media only screen and (max-width: 500px) {
  body {
    background-color: rgba(4, 136, 141, 0.377);
  }
  /* Bar code From here..........................................*/
  .navk {
    background-color: #00f7ffa4;
    height: 10vw;
    position: absolute;
  }
  .bar {
    position: absolute;
    top: 0%;
    right: 5%;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #68656379 74%);
    display: block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    text-align: center;
    border-style: dashed;
    padding: 1vw;
    transition-duration: 1s;
    border-radius: 12px;
    padding: 20px;
    z-index: 5;
  }
  .bar:hover {
    width: 120px;
    height: 300px;
  }

  .bar a {
    display: block;
    width: 100px;
    margin: 5%;
    padding: 10px;
    background-image: linear-gradient(
      235deg,
      rgba(4, 4, 44, 0.562) 100%,
      #2432f136 0%
    );
    text-decoration: none;
    color: whitesmoke;
    font-size: small;
    font-family: "Courier New", Courier, monospace;
    transition-duration: 2s;
  }
  .bar a:hover {
    font-weight: bold;
  }
  /* Details box code From here..........................................*/
  .box {
    display: block;

    z-index: 2;
    position: relative;
    height: auto;
    text-align: center;
    max-width: 1500px;
  }
  .indexv {
    z-index: -1;
    display: block;
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  .picdetails {
    width: 80%;
    display: inline-block;
    background-color: #2f435346;
    background-image: linear-gradient(315deg, #00000052 0%, #000000 100%);
    border: whitesmoke;
    border-radius: 2vmax;
    vertical-align: top;
  }
  .pic {
    width: 50%;
    display: block;
    max-width: 200px;
    margin: auto;
    margin-top: 20px;
  }

  .mydetails {
    display: block;
    margin: 40px;
  }
  .mydetails p {
    text-align: left;
    margin-left: 50px;
    color: rgba(245, 245, 245, 0.842);
  }
  .mydetails .logolinks {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 12px;
    background-color: aqua;
  }
  .mydetails .logolinks img {
    margin-left: -3px;
    border: none;
  }

  .skilldetails {
    width: 80%;
    display: block;
    margin: auto;
    text-align: left;
    padding-inline-start: 5%;
    background-image: linear-gradient(315deg, #00000052 0%, #000000ab 100%);
    border: whitesmoke;
    color: whitesmoke;
    border-radius: 2vmax;
  }

  /* Project box code From here..........................................*/
  .Projectsbox {
    margin: 0px;
    padding: 0px;
  }
  .resvv {
    display: inline-flex;
  }
  .Resume {
    background-color: rgba(236, 236, 236, 0.425);
    padding: 0px;
    height: 50px;
    margin: 0px;
    transition-duration: 1s;
    overflow: hidden;
  }
  .Res {
    background-color: #2f4353e8;
    display: block;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
  }
  .cvside1 {
    width: 30%;
    margin-top: 2%;
    display: inline-block;
    background-color: #2f4353;
    height: 170vh;
    margin-left: 0px;
    padding: 20px;
    text-align: left;
    padding-top: 2%;
  }
  .cvsubh {
    color: #848d06;
    font-weight: bold;
    display: block;
    text-align: left;
    font-size: small;
    margin-top: 20px;
  }
  .cvcourses {
    font-size: small;
  }
  h1 {
    font-size: small;
  }
  .cvcon {
    color: rgba(245, 245, 245, 0.678);
    padding-top: 30px;
    display: block;
    font-size: small;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.726);
  }
  /* OTHER SIDE ...............*/
  .cvside2 {
    width: 70vw;
    margin-top: 2%;
    padding-top: 7%;
    margin-left: -10px;
    display: inline-block;
    background-color: rgb(231, 231, 231);
    height: 170vh;
    vertical-align: top;
    text-align: left;
  }
  .cvname {
    position: relative;
    vertical-align: top;
    width: 40%;
    text-align: left;
    display: inline-block;
    font-size: small;
  }
  .cvname h1 {
    font-size: large;
  }
  .cvname p {
    margin-top: 20px;
    color: #848d06;
  }
  .cvloc {
    position: relative;
    display: inline-block;
    width: 35%;
    left: 20%;
  }
  .cvlocde {
    padding: 5px;
    display: block;
    border-bottom: 1px solid #413f3f86;
  }
  .cvlocde:last-child {
    border: none;
  }
  .education {
    padding-top: 10%;
    display: block;
  }
  .cvedu {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #413f3f86;
    margin-bottom: 20px;
  }
  .struct {
    display: block;
  }
  .lpu {
    font-weight: bold;
    display: inline-block;
    width: 30%;
    font-size: small;
  }
  .lpufade {
    color: #00000080;
    display: block;
  }
  .linecv {
    width: 5%;

    display: inline-block;
    vertical-align: top;
  }
  .line {
    margin-left: 5%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: block;
    background-color: #b69813b4;
  }
  .lined {
    display: block;
    background-color: #b69813b4;
    width: 2px;
    margin-left: 7px;
    height: 120px;
  }
  .btech {
    font-weight: bold;
    padding-left: 0px;
    vertical-align: top;
    display: inline-block;
    width: 50%;
    font-size: small;
  }
  .btechfade {
    color: #00000080;
    display: block;
  }
  .progress {
    color: #00000080;
    width: 100%;
    display: inline-block;
    padding-bottom: 7px;
    font-size: small;
  }

  .cvpro {
    display: block;
  }
  progress {
    width: 80%;
    height: 5px;
    background-color: #b69813b4;
  }
  ::-webkit-progress-bar {
    background-color: #b1aeae;
  }
  ::-webkit-progress-value {
    background-color: #b69813b4;
  }
  .imgsetm .logolinks {
    width: 30px;
    height: 30px;
  }
  .imgsetm .logolinks img {
    width: 30px;
    height: 30px;
  }
  .skilldetails h1 {
    font-size: x-large;
  }
  .skilldetails p {
    font-size: medium;
  }
}
